.header {
  background-color: #0A1628;
  /* min-height: 67px; */
  /* min-width: 100%; */
  min-height: 55px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: white;
  z-index: 1000;
  margin: 0%;
  padding-top: 3px;
}
.header_logo_space {
  background-color: #0A1628;
  height: 50%;
  display: inline-block;
  flex: none;
  /* align-items: center; */
  /* justify-content: center; */
  object-fit: fill;
}
.header_button_space {
  background-color: #0A1628;
  color: white;
  width: 100%;
  height: 100%;
}
.header_link_space {
  margin-right:0%;
  background-color: #0A1628;
  color: white;
}
.editor_header_toolbar {
  height: 100%;
}
.layout_container {
  top: 55px;
}
.bg-transparent {
  background-color: transparent;
}
.jahn-logo-link {
  display: inline-flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  margin-right: 40px;
}
.jahn-logo-link:hover {
  text-decoration: none;
}
.jahn_logo {
  height: 40px;
  width: auto;
  margin-right: 12px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 4px;
}
.jahn-logo-text {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  white-space: nowrap;
}
.jahn-logo-link:hover .jahn-logo-text {
  color: #00B4E4;
}
.jahn-logo-link:hover .jahn_logo {
  opacity: 0.9;
}
.header-logos-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.xrp_logo {
  height: 50px;
  width: auto;
  margin-right: 16px;
  flex-shrink: 0;
}
.micropython-icon {
  width: 12vw;
  margin: 1.5rem;
  margin-top: 7%;
}
.micropython-text {
  margin-top: 4%;
  }
.action-button {
  position:absolute;
  top: 10px;
  right: 20px;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  z-index: 1000;
}
.xrp-name {
  color: wheat;
  position:absolute;
  top: 38px;  
  right: 20px;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  z-index: 1000;
}
.run-button {
  background-color: green;
  /* top: 50px; */
}
.run-button:hover {
  background-color: rgb(1, 115, 1);
  /* top: 50px; */
}
.connect-xrp {
  color: black;
  background-color: white;
  position:absolute;
  top: 8px;
  right: 10px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  z-index: 1000;
}
.connect-xrp:hover {
  background-color: #d3f8d3; /* light green */
}

.connect-xrp:disabled,
.run-button:disabled {
  background-color: #dcdcdc; /* light grey */
}

.uk-dropdown {
  --uk-position-offset: 10px;
  --uk-position-viewport-offset: 15px;
  /* 1 */
  width: auto;
  /* 2 */
  min-width: 200px;
  /* 3 */
  padding: 5px;
  background: #4984ac;
  color: #666;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}
.uk-button-xmenu {
  /* 1 */
  margin: 0;
  /* 2 */
  border: none;
  /* 3 */
  overflow: visible;
  /* 4 */
  font: inherit;
  color: inherit;
  /* 5 */
  text-transform: none;
  /* 6 */
  -webkit-appearance: none;
  border-radius: 0;
  /* 7 */
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 0.875rem;
  /* 8 */
  line-height: 38px;
  /* 9 */
  text-align: left;
  /* 10 */
  text-decoration: none;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}
.uk-button-secondary-xmenu {
  background-color: #4984ac;
  color: #fff;
  border: 1px solid transparent;
}
.uk-button-secondary-xmenu:hover {
  background-color: #3a6989;
  color: #fff;
}
.uk-button-secondary-xmenu:disabled {
  color: #ABA6A6;
  border: 1px solid transparent;
}
.uk-button-secondary-xmenu:disabled:hover {
  background-color: #4D7894;
}

.python-code {
  padding: 10px;
  height: 70%;
  width: 55%;
  background-color: #2980b9;
}
.tj_icon {
  padding-right: 5px;
  height: 15px;
  fill: white;
}
